extends ./layout.jade

block title
  title FAQ / Contact Us

block content
  .container-fluid.pulldown
    .col-md-2
    .col-md-8
      center
        h2 FAQs
        h4 Feel free to contact us in the <a href="#form">form</a> below if you have other concerns.
        br
      .panel-group#parent
        .panel.panel-success
          .panel-heading(role="tab")
            .panel-title
              a(role="button", data-toggle="collapse", data-parent="#parent", href="#content1") 
                p <img src="img/faq-icon.png" style="padding-right:10px;" align:"middle"></img> What is Chingay?
            .panel-collapse.collapse#content1(role="tabpanel")
              .panel-body
                h4
                  | Chingay is Singapore’s biggest annual celebration of the multi-cultural and racial society in Singapore, organised by Singapore’s People’s Association (PA). 
                  | It takes place in the month of the Chinese New Year, end February. Over the years, Chingay has evolved into a global event, where people and cultures all over the world are invited to take part in this exotic parade. 
                  | For more information, refer to <a href='https://chingay.org.sg' target="blank">here</a>.
        .panel.panel-success
          .panel-heading(role="tab")
            .panel-title
              a(role="button", data-toggle="collapse", data-parent="#parent", href="#content2")
                p <img src="img/faq-icon.png" style="padding-right:10px;" align:"middle"></img> How does it apply to me?
            .panel-collapse.collapse#content2(role="tabpanel")
              .panel-body
                h4
                  | Take part in this inaugural street parade performance, immerse yourself and be amazed by different people 
                  | of different cultures in the event! You will certainly not regret being part of this event!
        .panel.panel-success
          .panel-heading(role="tab")
            .panel-title
              a(role="button", data-toggle="collapse", data-parent="#parent", href="#content6")
                p <img src="img/faq-icon.png" style="padding-right:10px;" align:"middle"></img> Is there any CCA fee, etc?
            .panel-collapse.collapse#content6(role="tabpanel")
              .panel-body
                h4
                  | No. There is absolutely no fee involved in joining Chingay. Participants will not be asked to pay for anything.
        .panel.panel-success
          .panel-heading(role="tab")
            .panel-title
              a(role="button", data-toggle="collapse", data-parent="#parent", href="#content7")
                p <img src="img/faq-icon.png" style="padding-right:10px;" align:"middle"></img> What will I gain from joining Chingay?
            .panel-collapse.collapse#content7(role="tabpanel")
              .panel-body
                h4
                  | To list some, you will be given free food, tees, goodie bags. Participants are insured against accidents. 
                  | There will also be outings organised by our committee and exclusive after-event parties by PAYM, etc. 
                  | You will also get this great opportunity to know more friends in your school (and outside school!) Of course, 
                  | you will have to be proactive sometimes!
        .panel.panel-success
          .panel-heading(role="tab")
            .panel-title
              a(role="button", data-toggle="collapse", data-parent="#parent", href="#content4")
                p <img src="img/faq-icon.png" style="padding-right:10px;" align:"middle"></img> What is the commitment like?
            .panel-collapse.collapse#content4(role="tabpanel")
              .panel-body
                h4
                  | For Chingay 2016, practices will start in the week before the school semester starts, and will be 3 to 4 times a week. For more information, 
                  | please refer to the <a href="training.html">training dates schedule</a>.
        .panel.panel-success
          .panel-heading(role="tab")
            .panel-title
              a(role="button", data-toggle="collapse", data-parent="#parent", href="#content3")
                p <img src="img/faq-icon.png" style="padding-right:10px;" align:"middle"></img> When are the training dates?
            .panel-collapse.collapse#content3(role="tabpanel")
              .panel-body
                h4
                  | Please refer to <a href="training.html">training dates schedule</a>.
        .panel.panel-success
          .panel-heading(role="tab")
            .panel-title
              a(role="button", data-toggle="collapse", data-parent="#parent", href="#content5")
                p <img src="img/faq-icon.png" style="padding-right:10px;" align:"middle"></img> Is attendance marked? What is the criteria for me to be eligible for the CCA points and CIP hours?
            .panel-collapse.collapse#content5(role="tabpanel")
              .panel-body
                h4
                  | Yes, attendance will be taken every training. Participants have to attain 75% attendance to qualify for the CCA points, 
                  | so make sure to plan your schedule well!
        .panel.panel-success
          .panel-heading(role="tab")
            .panel-title
              a(role="button", data-toggle="collapse", data-parent="#parent", href="#content8")
                p <img src="img/faq-icon.png" style="padding-right:10px;" align:"middle"></img> Can I get CIP hours?
            .panel-collapse.collapse#content8(role="tabpanel")
              .panel-body
                h4
                  | Yes. The total hours depending on the training schedule. 
                  | As a rough estimate, a total of 100 CIP hours can be attained via participation in Chingay.
        .panel.panel-success
              .panel-heading(role="tab")
                .panel-title
                  a(role="button", data-toggle="collapse", data-parent="#parent", href="#content10")
                    p <img src="img/faq-icon.png" style="padding-right:10px;" align:"middle"></img> Can I travel to F1 pit on my own?
                .panel-collapse.collapse#content10(role="tabpanel")
                  .panel-body
                    h4
                      | Yes! You may.
        .panel.panel-success
              .panel-heading(role="tab")
                .panel-title
                  a(role="button", data-toggle="collapse", data-parent="#parent", href="#content11")
                    p <img src="img/faq-icon.png" style="padding-right:10px;" align:"middle"></img> Where is the pick-up point at NTU for trainings outside NTU?
                .panel-collapse.collapse#content11(role="tabpanel")
                  .panel-body
                    h4
                      | Buses will be stationed at NTU's Chinese Heritage Centre (CHC) for pick-up of NTU participants. Don't be late as the buses leave on time!
        .panel.panel-success
              .panel-heading(role="tab")
                .panel-title
                  a(role="button", data-toggle="collapse", data-parent="#parent", href="#content12")
                    p <img src="img/faq-icon.png" style="padding-right:10px;" align:"middle"></img> What are the bus departure timings?
                .panel-collapse.collapse#content12(role="tabpanel")
                  .panel-body
                    h4
                      | Bus departure timings are always an hour before the training start time.
        .panel.panel-success
              .panel-heading(role="tab")
                .panel-title
                  a(role="button", data-toggle="collapse", data-parent="#parent", href="#content13")
                    p <img src="img/faq-icon.png" style="padding-right:10px;" align:"middle"></img> Where are the drop off places at NTU?
                .panel-collapse.collapse#content13(role="tabpanel")
                  .panel-body
                    h4
                      | Buses will drop off at 3 points within NTU after practices. At Hall 9, 12 & Chinese Heritage Centre.
        .panel.panel-success
              .panel-heading(role="tab")
                .panel-title
                  a(role="button", data-toggle="collapse", data-parent="#parent", href="#content14")
                    p <img src="img/faq-icon.png" style="padding-right:10px;" align:"middle"></img> Where is the assembly area at F1 pit building?
                .panel-collapse.collapse#content14(role="tabpanel")
                  .panel-body
                    h4
                      | Performer's Tentage (refer to F1 pit map)
                    img.img-responsive(src="img/f1pit.jpg")
        .panel.panel-success
              .panel-heading(role="tab")
                .panel-title
                  a(role="button", data-toggle="collapse", data-parent="#parent", href="#content9")
                    p <img src="img/faq-icon.png" style="padding-right:10px;" align:"middle"></img> What happens if I fall sick during a training date?
                .panel-collapse.collapse#content9(role="tabpanel")
                  .panel-body
                    h4
                      | If you do fall sick, please scan your MC and send it to <a href="mailto:ntuchingayofficial@gmail.com"><strong>ntuchingayofficial@gmail.com</strong></a>.
    .col-md-2
    

  .container-fluid#form
    br
    center
      hr
      h1 Submit your query here!!!
      iframe.section(
            src="https://docs.google.com/forms/d/1y9U8Q1VF1JLuu5I-4BG6iD1jf818lLDw-a0OsPql0AI/viewform?embedded=true"
            width="760"
            height="770"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            ) Loading...

block script
  script(src="js/jquery-1.11.0.js")
  script(src="js/bootstrap.min.js")
  script.
    $(document).ready(function(){
      $(".panel-title:first-child").click(function(){
        $(".collapse").removeClass("in");
        });
      })