extends ./layout.jade

block title
  title FAQ / Contact Us

block content
  .container-fluid.pulldown
    center
      h3 Frequently Asked Questions
      .container
        h2 Ques 1
        h2 Ques 2
        h2 Ques 3

  .container-fluid.pulldown
    center
      hr
      h1 Submit your query here!!!
      iframe.section(
            src="https://docs.google.com/forms/d/1y9U8Q1VF1JLuu5I-4BG6iD1jf818lLDw-a0OsPql0AI/viewform?embedded=true"
            width="760"
            height="770"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            ) Loading...