extends ./layout.jade

block title
  title Sign Up

block content
    .container-fluid.pulldown
        center
            iframe.section(
                  src="https://docs.google.com/forms/d/1y9U8Q1VF1JLuu5I-4BG6iD1jf818lLDw-a0OsPql0AI/viewform?embedded=true"
                  width="760"
                  height="770"
                  frameborder="0"
                  marginheight="0"
                  marginwidth="0"
                  ) Loading...